---
import ChevronRight from "@lucide/astro/icons/chevron-right";

interface Breadcrumb {
    label: string;
    fragment: string;
}

interface Props {
    baseUrl: string;
    breadcrumbs: Breadcrumb[];
}

const { baseUrl, breadcrumbs } = Astro.props;

const breadcrumbsWithUrls = breadcrumbs.map((crumb) => {
    const url = `${baseUrl}/${crumb.fragment}${crumb.fragment ? "/" : ""}`;
    return { ...crumb, url };
});
---

<nav aria-label="Breadcrumb" class="font-sans text-sm text-dark-gray">
    <ol class="flex flex-wrap items-center align-middle">
        {
            breadcrumbsWithUrls.map((crumb, index) => (
                <li class="flex items-center">
                    <ChevronRight class="size-4" />
                    {index < breadcrumbsWithUrls.length - 1 ? (
                        <a href={crumb.url}>{crumb.label}</a>
                    ) : (
                        <span class="font-medium lowercase">{crumb.label}</span>
                    )}
                </li>
            ))
        }
    </ol>
</nav>
