---
import dayjs from "dayjs";
import { parseInlineCode } from "../util/parseInlineCode";
import PostDates from "./PostDates.astro";

export interface PostItemData {
    title: string;
    description?: string | null;
    url: string;
    date?: Date;
}

interface Props {
    item: PostItemData;
    htmlAttributes?: Record<string, string>;
}

const { item, htmlAttributes } = Astro.props;

const { title, description, url, date } = item;

const isExternalUrl = url.startsWith("http://") || url.startsWith("https://");
---

<li class="post-item flex flex-col gap-1" {...htmlAttributes}>
    <slot name="top-row" />

    <h2 class="font-serif text-2xl font-semibold text-dark">
        <a
            href={url}
            {...isExternalUrl
                ? { target: "_blank", rel: "noopener noreferrer" }
                : { "data-astro-prefetch": true }}
        >
            <Fragment set:html={parseInlineCode(title)} />
        </a>
    </h2>

    {
        description && (
            <span class="text-md/snug font-sans text-dark-gray italic">
                <Fragment set:html={parseInlineCode(description)} />
            </span>
        )
    }

    <div class="flex flex-row gap-4 text-sm text-dark-gray">
        <slot name="before-dates" />
        {
            date && (
                <PostDates
                    createdTime={dayjs(date)}
                    lastModified={dayjs(date)}
                    iconSize="md"
                />
            )
        }
    </div>
</li>
