---
import { type HierarchicalBlogNode } from "../blogIndex";
import Breadcrumbs from "./Breadcrumbs.astro";
import KindIcon from "./KindIcon.astro";
import PostItem, { type PostItemData } from "./PostItem.astro";

interface Props {
    nodes: HierarchicalBlogNode[];
}

const { nodes } = Astro.props;

function nodeToPostItem(node: HierarchicalBlogNode): PostItemData {
    return {
        title: node.title,
        description: node.data?.description,
        url: `/posts/${node.id}/`,
        published: node.data?.published,
    };
}

const kinds = Array.from(
    new Set(
        nodes
            .map((node) => node.data?.kind)
            .filter((kind) => kind !== undefined),
    ),
);
---

<div id="post-listing-container">
    {
        kinds.length > 1 && (
            <div class="mb-4 flex flex-col gap-2 md:mb-6">
                <fieldset
                    role="group"
                    class="flex flex-wrap items-center gap-2"
                >
                    <legend class="sr-only">Filter posts by kind</legend>
                    {kinds.map((kind) => (
                        <label class="filter-button flex cursor-pointer items-center gap-1 rounded bg-light-gray px-2 py-1 text-sm text-dark capitalize transition hover:bg-gray has-checked:bg-primary has-checked:text-light">
                            <input
                                id={`filter-${kind}`}
                                type="checkbox"
                                name="filter"
                                value={kind}
                                class="sr-only"
                                aria-labelledby={`filter-${kind}-label`}
                            />
                            <KindIcon kind={kind} class="inline-block size-4" />
                            {kind}
                        </label>
                    ))}
                </fieldset>
                <div class="h-4 text-sm text-dark-gray italic">
                    <label
                        id={`filter-observations-label`}
                        class="kind-description hidden"
                        data-kind="observations"
                        for="filter-observations"
                    >
                        Long-form content, focusing on a single topic or idea.
                    </label>
                    <label
                        id={`filter-notes-label`}
                        class="kind-description hidden"
                        data-kind="notes"
                        for="filter-notes"
                    >
                        Generally just bullet-points on a certain topic.
                    </label>
                    <label
                        id={`filter-thoughts-label`}
                        class="kind-description hidden"
                        data-kind="thoughts"
                        for="filter-thoughts"
                    >
                        Short-form content, focusing on a single topic or idea.
                    </label>
                </div>
            </div>
        )
    }
    <ol class="flex flex-col gap-8 md:gap-12" aria-label="Post listing">
        {
            nodes.map((node) => {
                const item = nodeToPostItem(node);
                const pathParts = node.id.split("/").filter((s) => s);
                const breadcrumbs = pathParts.map((segment, index, arr) => {
                    const fragment = arr.slice(0, index + 1).join("/");
                    return {
                        label: segment,
                        fragment: fragment,
                        linkTo: index < arr.length - 1,
                    };
                });
                return (
                    <PostItem
                        item={item}
                        htmlAttributes={
                            node.data?.kind
                                ? { "data-kind": node.data.kind }
                                : {}
                        }
                    >
                        <div
                            slot="top-row"
                            class="flex flex-row items-center gap-1"
                        >
                            {node.data?.kind && (
                                <KindIcon
                                    kind={node.data.kind}
                                    isFolder={node.isFolder}
                                    class="size-4 stroke-dark-gray"
                                />
                            )}
                            {breadcrumbs.length > 0 && (
                                <Breadcrumbs
                                    baseUrl="/posts"
                                    breadcrumbs={breadcrumbs}
                                />
                            )}
                        </div>
                    </PostItem>
                );
            })
        }
    </ol>
</div>

<style>
    @reference "../global.css";
    #post-listing-container:has(.filter-button input:checked) {
        .post-item {
            @apply hidden;
        }
    }

    #post-listing-container:has(
            .filter-button input[value="observations"]:checked
        )
        .post-item[data-kind="observations"],
    #post-listing-container:has(.filter-button input[value="notes"]:checked)
        .post-item[data-kind="notes"],
    #post-listing-container:has(.filter-button input[value="thoughts"]:checked)
        .post-item[data-kind="thoughts"],
    #post-listing-container:has(
            .filter-button input[value="observations"]:checked
        )
        .kind-description[data-kind="observations"],
    #post-listing-container:has(.filter-button input[value="notes"]:checked)
        .kind-description[data-kind="notes"],
    #post-listing-container:has(.filter-button input[value="thoughts"]:checked)
        .kind-description[data-kind="thoughts"] {
        @apply flex;
    }
</style>

<script>
    const container = document.getElementById("post-listing-container");
    const checkboxes = container?.querySelectorAll<HTMLInputElement>(
        ".filter-button input",
    );

    checkboxes?.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
            if (checkbox.checked) {
                checkboxes.forEach((otherCheckbox) => {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            }
        });
    });
</script>
